{% extends "base.html" %}
{% load staticfiles %}{% load i18n %}

{% block google_analytics %}
    {% if GOOGLE_ANALITYCS_CODE %}
        {% include "includes/google_analytics.html" %}
    {% endif %}    
{% endblock %}

{% block logo %}
	<div id="logo"><a href="{{ logo_link }}"><img src="{% static "images/logo.png" %}" width="108" height="115" alt="MySmile logo" /></a></div>
{% endblock %}

{% block line_top %} 
    <div id="line_top" style="background-color: {{ page__color }};">
        <div id="lang">
        {% for item in languages %}
        <a href="/{{ item.0 }}/{{ slug }}.html"><img src="{% static 'images/'|add:item.0|add:'.png' %}" width="24" height="24" alt="{{ item.1 }}"></a>
        {% endfor %}
        </div>
    </div>  
{% endblock %}

{% block nav %}
<nav>
<ul>
{% for links, menu in nav %}
  {% if links == slug %}
	<li class="active"><a href="/{{ lang }}/{{ links }}.html">{{ menu }}</a></li>
  {% else %}
	<li><a href="/{{ lang }}/{{ links }}.html">{{ menu }}</a></li>
  {% endif %}
{% endfor %}
</ul>
</nav>
{% endblock %}

{% block innver_nav %}
{% if inav|length > 0  %}
<ul id = "inav">
{% for links, menu in inav %}
  {% if links == slug %}
	<li class="active"><a href="/{{ lang }}/{{ links }}.html">{{ menu }}</a></li>
  {% else %}
	<li><a href="/{{ lang }}/{{ links }}.html">{{ menu }}</a></li>
  {% endif %}
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block contact %}
<ul id="contact">
{% if EMAIL %}
	<li>
        <img src="{% static 'images/email.png' %}" width="16" height="16" alt="e-mail" />
        <a href="mailto:{{ EMAIL }}">{{ EMAIL }}</a>					
    </li>
{% endif %}
{% if PHONE %}
	<li>    
		<img src="{% static 'images/phone.png' %}" height="16" width="16" alt="phone" />
		{{ PHONE }}
	</li>
{% endif %}
{% if SKYPE %}
	<li>    
		<img src="{% static 'images/skype.png' %}" height="16" width="16" alt="skype" />
        {{ SKYPE }}
	</li>
{% endif %}
</ul>
{% endblock %}


{% block col_right %}
	{% if col_right or photo or youtube %}
			<aside id="col_right" >
                {% if page__photo %}
                    <figure>
                        <img src="{% static page__photo  %}" width="333" alt="{{ photo_alt }}" />
                        {% if photo_description %}<figcaption>{{ photo_description }}</figcaption>{% endif %}
                    </figure>
                {% endif %}
                
                {% if youtube %}
<iframe style="box-shadow: 0 15px 15px -13px #333; -moz-box-shadow: 0 15px 15px -13px #333; -webkit-box-shadow: 0 15px 15px -13px #333; width:330px; height:250px;margin:2px;" 
src="{{ youtube }}" frameborder="0" allowfullscreen></iframe>
                {% endif %}
                    
                <div class="col_right_text">
                    {{ col_right|safe }}
                </div>
			</aside>
	{% endif %}
{% endblock %}


{% block col_central %}
<h1><a href="#">{{ name }}</a></h1>
<div class="col_central_text">{{ col_central|safe }}</div>
{% endblock %} 


{% block col_bottoms %}
{% if bottom_cols|length > 0  %}
	<aside id="col_bottom">
	{% for col in bottom_cols %}
    	<div class="col_bottom col_bottom_{{ bottom_cols|length }}">{{ col|safe }}</div>
	{% endfor %}
	<div class="clear"></div>
    </aside>
{% endif %}
{% endblock %}

{% block footer %}
       <ul>
            {% for links, menu in nav %}
            <li><a href="/{{ lang }}/{{ links }}.html">{{ menu }}</a></li>
            {% endfor %}
        </ul>
{% endblock %}
