<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MySmile – simple CMS based on Django!</title>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="shortcut icon" href="./static/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="./static/apple-touch-icon-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./static/apple-touch-icon-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./static/apple-touch-icon-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./static/apple-touch-icon-precomposed.png" />
        
        <link href="./static/vendor/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="./static/css/main.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="#"><img alt="MySmile Logo" src="./static/images/mysmile-logo-sm.png" height="50" width="47"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">Download</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right navbar-translate">
                <li><a href="#"><img src="./static/images/flags/en.png" width="24" height="24" alt="English"></a></li>
                <li><a href="#"><img src="./static/images/flags/uk.png" width="24" height="24" alt="Українська"></a></li>
                <li><a href="#"><img src="./static/images/flags/ru.png" width="24" height="24" alt="Русский"></a></li>
              </ul>
            </div><!-- /.navbar-collapse -->  
          </div><!-- /.container -->
        </nav> 
       
        
        <div class="container">
            <!-- navbar-inline -->
            <div class="pull-right">
                <ul class="list-inline">
                    <li><a href="#" class="active">Inner item 1</a></li>
                    <li><a href="#">Inner item 2</a></li>
                    <li><a href="#">Inner item 3</a></li>
                    <li><a href="#">Inner item 4</a></li>
                </ul>
            </div><!-- /.pull-right -->  
            
            <!-- page content -->  
            <div class="page-header">
              <h1>Page with all blocks</h1>
            </div>
            
            <!-- right column -->
            <aside class="pull-right well">
                <!-- 4:3 aspect ratio -->
               <!-- 
               <div class="embed-responsive embed-responsive-4by3">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jbV5dGvJWyo?feature=player_detailpage"></iframe>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> 
               -->
                
                <figure>
                   <img src="./media/images/photo.png" width="333" alt=" " />
                   <figcaption>Photo: tulips field</figcaption>
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                
                <button type="button" class="btn btn-primary">try live demo</button>
                <button type="button" class="btn btn-success">free download</button>
            </aside>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et sollicitudin elit. Cras posuere dolor et enim imperdiet consectetur. Vivamus sed elit volutpat erat porttitor facilisis ut at leo. Nullam mi mauris, aliquam ut pellentesque ut, dapibus et purus. Nam hendrerit sollicitudin ipsum a laoreet. Fusce eleifend convallis posuere. Donec quis felis magna. Vivamus dignissim ultricies mi id vehicula. Mauris sit amet sodales nunc.</p> 
            <p>Nunc ut risus turpis. In purus elit, tempus in ornare id, placerat sit amet odio. Sed vulputate porta lectus sed condimentum. Duis vitae lobortis felis. In iaculis aliquam ante eu placerat. Suspendisse tristique tortor eget urna porttitor ac suscipit purus iaculis. Etiam molestie dolor non nunc cursus ac pretium libero adipiscing. Donec eget arcu magna. Quisque et diam at enim ullamcorper aliquet. Vivamus non arcu at lectus mattis accumsan ac at sem. Nunc sodales tortor quis nulla venenatis cursus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            <p>Vestibulum sit amet eros eu dolor pellentesque dignissim ut vitae velit. Donec imperdiet tempor erat non elementum. Donec justo libero, viverra in viverra quis, feugiat vitae orci. Nunc tempus sodales nunc, in consequat neque ultrices vel. Quisque sapien leo, facilisis at tincidunt ac, sagittis non lacus. Fusce lorem nisi, hendrerit eget condimentum vitae, porttitor vulputate tellus. </p> 
        </div><!-- /container -->
        
        <div class="container">
          <!-- bottom columns -->
          <div class="row">
           <!-- 3 columns -->   
           <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
           </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>
            <!-- 2 columns -->  
            <!--
            <div class="col-md-6">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
           </div>
            <div class="col-md-6">
              <h2>Heading</h2>
              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>
            -->
            <!-- 1 column -->
            <!--
            <div class="col-md-12">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
           </div>
            -->
          </div>
        </div> <!-- /container -->
        
        <footer class="footer">
            <div class="container">
                <div class="pull-left">
                    <ul class="list-unstyled">
                        <li class="text-muted"><img src="./static/images/email.png" height="16" width="16" alt="email"> myemail@email.com</li>
                        <li class="text-muted"><img src="./static/images/phone.png" height="16" width="16" alt="email"> +38-000-00-00-000</li>
                        <li class="text-muted"><img src="./static/images/skype.png" height="16" width="16" alt="email"> myskype</li>
                    </ul>    
                </div>  
                    
                <div class="pull-right">
                    <p class="text-muted">&copy; 2015 MySmile, all right reserved</p>
                </div>    
            </div>
        </footer>
        
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <script src="./static/vendor/jquery-1.11.2.min.js"></script>
        <script src="./static/vendor/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>      
    </body>
</html>
