body { margin: 0.5in; font-family: times }
* { background: #fff !important; color: #000 !important; float: none !important; width: auto !important; height: auto !important; }

nav,  #line_top, #line_bottom, #line_left, footer { display: none }

a{border:0;text-decoration:none;}
a img{border:0}
a:after{content:" (" attr(href) ") ";font-size: 90%;}
a[href^="/"]:after {content: " (http://mysmile.com.ua" attr(href) ") ";}


@page { margin: 0.5cm; }

blockquote, ul { margin: 0; }