{% extends "base.html" %}
{% load staticfiles %}{% load i18n %}

{% block google_analytics %}
    {% if GOOGLE_ANALITYCS_CODE %}
        <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{GOOGLE_ANALITYCS_CODE}}']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        </script>
    {% endif %}    
{% endblock %}

{% block logo %}
	<div id="logo"><a href="{{ logo_link }}"><img src="{% static "images/logo.png" %}" width="108" height="115" alt="MySmile logo" /></a></div>
{% endblock %}

{% block nav %}
<nav>
<ul>
{% for links, menu in nav %}
  {% if links == slug %}
	<li class="active"><a href="/{{ lang }}/{{ links }}.html">{{ menu }}</a></li>
  {% else %}
	<li><a href="/{{ lang }}/{{ links }}.html">{{ menu }}</a></li>
  {% endif %}
{% endfor %}
</ul>
</nav>
{% endblock %}

{% block innver_nav %}
{% if inav|length > 0  %}
<ul id = "inav">
{% for links, menu in inav %}
  {% if links == slug %}
	<li class="active"><a href="/{{ lang }}/{{ links }}.html">{{ menu }}</a></li>
  {% else %}
	<li><a href="/{{ lang }}/{{ links }}.html">{{ menu }}</a></li>
  {% endif %}
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block lang %}
<div id="lang">
    {% for i in menu_flag %}
    <a href="/{{ i }}/{{ slug }}.html"><img src="{% static 'images/'|add:i|add:'.png' %}" width="24" height="24" alt="{{ i }}"></a>
    {% endfor %}
</div>
{% endblock %}


{% block contact %}
<ul id="contact">
{% if EMAIL %}
	<li>
        <img src="{% static 'images/email.png' %}" width="16" height="16" alt="e-mail" />
        <a href="mailto:{{ EMAIL }}">{{ EMAIL }}</a>					
    </li>
{% endif %}
{% if PHONE %}
	<li>    
		<img src="{% static 'images/phone.png' %}" height="16" width="16" alt="phone" />
		{{ PHONE }}
	</li>
{% endif %}
{% if SKYPE %}
	<li>    
		<img src="{% static 'images/skype.png' %}" height="16" width="16" alt="skype" />
        {{ SKYPE }}
	</li>
{% endif %}
</ul>
{% endblock %}


{% block col_right %}
	{% if right_col or photo or youtube %}
			<aside id="col_right" >
                {% if photo %}
                    <div id="photo">
                        <!--<img src="/media/images/1.png" width="333" alt="{{ photo_alt }}" />-->
                        <img src="{% static photo  %}" width="333" alt="{{ photo_alt }}" />
                    </div>
                {% endif %}
                
                {% if youtube %}
<iframe style="box-shadow: 0 15px 15px -13px #333; -moz-box-shadow: 0 15px 15px -13px #333; -webkit-box-shadow: 0 15px 15px -13px #333; width:330px; height:250px;margin:2px;" 
src="{{ youtube }}" frameborder="0" allowfullscreen></iframe>
                {% endif %}
                    
                <div class="col_right_text">
                    {{ right_col|safe }}
                </div>
			</aside>
	{% endif %}
{% endblock %}


{% block central_col %}
<h1><a href="#">{{ name }}</a></h1>
<div class="col_central_text">{{ central_col|safe }}</div>
{% endblock %} 


{% block bottom_col %}
{% if bottom_cols|length > 0  %}
	<aside id="col_bottom">
	{% for col in bottom_cols %}
    	<div class="col_bottom col_bottom_{{ bottom_cols|length }}">{{ col|safe }}</div>
	{% endfor %}
	<div class="clear"></div>
    </aside>
{% endif %}
{% endblock %}

{% block footer %}
       <ul>
            {% for links, menu in nav %}
            <li><a href="/{{ lang }}/{{ links }}.html">{{ menu }}</a></li>
            {% endfor %}
        </ul>
{% endblock %}



